{% extends "layout.html" %}
{% block content %}
	<head>
	<style>
	table, th, td {
    	border: 1px solid black;
		border-collapse: collapse;
	}
	th,td {
		padding: 25px;
	}
	table{
		border-spacing: 15px;
	}
	table td:nth-child(even) {
	    background-color: #eee;
	}
	table td:nth-child(odd) {
	   background-color: #fff;
	}
	table th {
	    background-color: black;
	    color: white;
	}
	</style>
	</head>
	<body>
    <h1 style = "color:floralwhite">Results</h1>
    <div>
    	<table  style="width:100%">
    	<tr>
    	{% for result in results if not result.username == "doctor_user" %}
    		<td>{{ result.username }}</td>
		{% endfor %}
		</tr>
		<tr>
		{% for result in results if not result.email == "doctor@gmail.com"%}
    		<td>{{ result.email }}</td>
		{% endfor %}
		</tr>
		<tr>
		{% for result in results if not result.age == "xx"%}
    		<td>{{ result.age }}</td>
		{% endfor %}
		</tr>
		<tr>
		{% for result in results if not result.gender == "xxxx"%}
    		<td>{{ result.gender }}</td>
		{% endfor %}
		</tr>
		<tr>
		{% for result in results if not result.phone == "xxxxxxxxxx"%}
    		<td>{{ result.phone }}</td>
		{% endfor %}
		</tr>
		<tr>
		{% for result in results if not result.height == "xxx"%}
    		<td>{{ result.height }}</td>
		{% endfor %}
		</tr>
		<tr>
		{% for result in results if not result.weight == "xx"%}
    		<td>{{ result.weight }}</td>
		{% endfor %}
		</tr>
		<tr>
		{% for result in results if not result.address == "xxx"%}
    		<td>{{ result.address }}</td>
		{% endfor %}
		</tr>
		<tr>
		{% for result in results if not result.bloodgroup == "xxx"%}
    		<td>{{ result.bloodgroup }}</td>
		{% endfor %}
		<tr>
		{% for result in results if not result.familyhistory == "xxx"%}
    		<td>{{ result.familyhistory }}</td>
		{% endfor %}
		</tr>
		<tr>
		{% for result in results if not result.allergies == "xxx"%}
    		<td>{{ result.allergies }}</td>
		{% endfor %}	
		</tr>
		<tr>
		{% for result in results if not result.currentmedication == "xxx"%}
    		<td>{{ result.currentmedication }}</td>
		{% endfor %}		
		</tr>	
	</table>
	</div>
	</body> 
{% endblock content %}
